@font-face{
font-family: Ranga;
src: url(../_fonts/Ranga-Bold.ttf);
}
@keyframes animationMenu {
    0% {background-color: orange;}
    50% {background-color: yellow;}
    100% {background-color: orange;}
}

body{
	/*background-color: #E0FFFF*/
	background-image: url(../Portal_CDCC.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}
img.item{
	margin-top: 0px;
	border: 4px solid white;
	box-shadow: 3px 3px 4px;
	width: 100%;
}
div.conteudo{
	columns: 3;
	vertical-align: middle;
	text-align: center;
	position: absolute;
	top: 42%;
	left:26.5%;
	width: 47%;
	padding: 0px;
	margin: 0px;
}
figure{
	padding: 0px;
	margin: 0px;
}
figure figcaption{
	font-family: Ranga;
	font-size: 22px;
	font-style: bold;
}
#esquerda{
	position: absolute;
	top:50%;
	left:18%;
	width: 7%;
}
#direita{
	position: absolute;
	top:50%;
	right:18%;
	width: 7%;
}
.menu{
	position: absolute;
	top:211.5px;
	left:485px;
	}
.menu li{
	height: 40px;
	display: inline-block;
	padding: 0px 8px 0px 8px;
	user-select:none;
}
.menu ul{
	list-style-type: none;
	text-transform: uppercase;
}
.menu a{
	text-decoration: none;
	color: yellow;
	box-shadow: 2px 2px 4px black;
	background-color : rgba(160,55,33,1);
	font-family: Impact;
	font-size: 17pt;
	padding: 0px 5px 0px 5px;
}
figcaption{
	user-select:none;
}

#btIndex{
	animation: animationMenu 2s infinite;
	color : black;
	box-shadow: -2px -2px 4px black;
	/*background-image: url("../_images/direita.gif");
	background-size: 20%;*/
}
#flash{
	margin-top: 0;
	padding-top:0;
	display:block;
	position: absolute;
	top: 10px;
	left:6%;
}
